*{
    margin: 0;
    padding: 0;
}
.banner{
    width: 100%;
    height: 60vh;
    z-index: 10;
    font-family: 'Playfair Display', serif;
    background-color: #1d181e;
    position: relative;
}
.banner .center{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    position: absolute;
    bottom: 30%;
    left: 44%;
    color: white;
}
.banner .navbar.navbar-expand-lg {
    font-family: "Poppins", sans-serif;
    font-size: 1em;
    padding: 1.4rem 4.26rem;
    z-index: 20;
}
.banner .navbar-brand .logo{
    height: 100%;
    width: 3.7rem;
    margin-right: .6rem;
}
.banner .navbar .navbar-nav .nav-item{
    margin: 0 2.885rem 0 0;
}
.banner .navbar .navbar-collapse button{
    width: 3rem;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}
.banner .navbar .navbar-nav .nav-item .nav-link{
    color: white;
}
.banner .navbar .navbar-nav .nav-item.active{
    position: relative;
}
.banner .navbar .navbar-nav .nav-item.active:after{
    position: absolute;
    content: "";
    height: .1rem;
    background:white;
    width: 2.9rem;
    left: 12%;
    bottom: 0;
}
.banner .navbar-collapse button{
    border: none;
    background: none;
}
.banner .navbar-collapse img{
    /* margin-left: 1.8rem */
}
.banner .navbar-collapse .cart{
    margin-right: 0.5rem;
}
.banner .badge {
    padding: 0 9px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  
.banner .label-warning[href],
.banner .badge-warning[href] {
    background-color: #f96882;
}
.banner #lblCartCount {
    font-size: 12px;
    background: #f96882;
    color: #fff;
    padding: 3px 5px;
    margin-left: -15px;
    margin-top: -15px; 
}


/*footer*/
.footer-top{
    height: 35vh;
    background-color: #241d26;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-top button{
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    border-radius: 50%;
}
.footer-bottom{
    height: 10vh;
    background-color:#241d26;
    border-top: 1px solid #333333;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-top .fb{ background-color: #4a62a3}
.footer-top .tw{ background-color: #0ca9e0}
.footer-top .ig{ background-color: #ec2654}
.footer-top h1{ 
    font-family: 'Playfair Display', serif;
    color: white;
    font-weight: bold;
}
.footer-top p,
.footer-bottom p{
    font-family: 'Poppins', sans-serif;
    font-size: .8em
}

.map{
    height: 70.5vh;
}
.map img{
    height: auto !important;
    width: 100% !important;
}
.map .right{
    padding: 5rem 0 0 5rem;
}
.map .right .form{
    padding-right: 5rem
}
.map .form-control{
    border-radius: 0;
    border: 1px solid lightgray;
}
.map .message{
    height: 10rem;
}
.map .add,
.map .phone,
.map .btn{
    font-family: 'Poppins', sans-serif;
}
.map h1{
    font-family: 'Playfair Display', serif;
    position: relative;
    margin-bottom: 1rem
}
.map .btn{
    border-radius: 0;
    background-color: #f96882;
    border: none;
    width: 10rem;
    height: 3rem;
}
.map h1::after{
    content: '';
    width: 2.5rem;
    height: .15rem;
    background-color: #4da92e;
    position: absolute;
    bottom: -10%;
    left: 1%;
}

.col-md-6.left {
    padding: 6rem 0 0 6rem;
}